---
export interface Props {
  title: string;
  subtitle: string;
  action: string;
  redirectInfo: string;
  redirectLink: string;
}
import { Image } from "@astrojs/image/components";

const { title, subtitle, action, redirectInfo, redirectLink } = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.png" />
  <link rel="stylesheet" href="/styles/global.css" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
</head>
<form class="w-5/6 mx-auto flex flex-col items-center pt-8" action={action}>
  <Image
    src="/favicon.png"
    width={45}
    aspectRatio="1:1"
    format="png"
    alt="Logo"
  />
  <h1 class="text-[2em] text-center poppins font-[500]">{title}</h1>
  <p class="w-4/6 text-center">{subtitle}</p>
  <slot />
  <a href={redirectLink}>{redirectInfo}</a>
</form>
